* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  color: #2a2a2a;
  background-color: #fafafa;
}

/* table */
.products {
  width: 30%;
  margin: 0 auto;
  border-collapse: collapse;
}

.products caption {
  margin-bottom: 8px;
}

.products th,
.products td {
  border: 1px solid black;
  padding: 4px 8px;
}

.products thead,
.products tfoot {
  background-color: aliceblue;
}

.products tbody td:hover {
  background-color: orangered;
}

.products tbody tr:nth-child(odd) {
  background-color: bisque;
}

.products tbody tr:nth-child(even) {
  background-color: beige;
}
